body {
    margin: 0;
    padding: 0;
    background-color: #f5ecec;
    font-family: "Mulish";
    display: flex;
    flex-direction: row;
} 


/*grafico*/
.graficoCompleto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 200px;
    height: 35px;
    margin-left: 100px;
  
    
}

 .textoGrafico {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 5px;
    color: #373F41;
    margin-left: 80px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 30px;
}

div #chartjs {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-top: 15%;
    align-content: center;
    justify-content: center;
   /*  background-color: #f5ecec;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0  rgba(0, 0, 0, 0.19);
    border-radius: 5px; */
}

.temperatura {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 5%;
    top: 60%;
    font-family: 'mulish';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-90.2deg);
    transition: 0.5s;
}

.tempoLocal{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 20%;
    top: 85%;
    font-family: 'mulish';
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.container_fundo {
height: 350px;
margin-left: 10px;
}

 .fundo {
    height: 657px;
    width: 100%;
    margin-left: 15%;
    background-color: #ffcdcd;

}

/* perdas mensais*/
.cadastrados {
    display: flex;
    flex-direction: column;
    color: #373F41;
    font-family: mulish;
    font-size: 20px;
    display: flex;
    margin-left: 8%;
    justify-content: center;
    text-align: center;
}

#id_lista{
    display: flex;
    position: relative;
    background-color: white;
    border: 1px solid black;
    width: 95%;
    height: 150px;
    margin-top: 10%;
    margin-left: 3%;

}

.fundo > .cadastrarNovo {
    display: flex;
    flex-direction: column;
    color: antiquewhite;
    background-color: #A12525;
    border-radius: 5px; 
    margin-top: 25%;
    margin-left: 18%;
    align-items: center; 
    justify-content: center;
    height: 250px;
    width: 260px;
}

input {
    border: 0;
    border-radius: 5px;
    background-color:#f5ecec;
    margin-top: 10px;
    height: 35px;
    width: 220px;
}  

 button {
    border: 0;
    color: antiquewhite;
    background-color: rgb(146, 44, 129);
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
}


