.content{
  display: flex;
  flex-direction: row;
}

.organizador{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  width: 90%;
}

.frase h1{
  font-size: 2rem;

  margin-left: 10%;
}

.frase h3{
  font-size: 1.3rem;
  width: 600px;
  margin-left: 11%;
}

.icon_2{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: right ;
  width: 100%;
}

.search {
--input-line: #cccccc;
--input-text-color: #808080;
--input-text-hover-color: transparent;
--input-border-color: #808080;
--input-border-hover-color: #999999;
--input-bg-color: #333333;
--search-max-width: 250px;
--search-min-width: 150px;
--border-radius: 5px;
--transition-cubic-bezier: 150ms cubic-bezier(0.4,0,0.2,1);
}

.search-box {
max-width: var(--search-max-width);
min-width: var(--search-min-width);
height: 35px;
border: 1px solid var(--input-border-color);
border-radius: var(--border-radius);
padding: 5px 15px;
background: var(--input-bg-color);
/* box-shadow: h-shadow v-shadow blur spread color; */
box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
transition: var(--transition-cubic-bezier);
}

.search-box:hover {
border-color: var(--input-border-hover-color);
}

ion-icon{
  font-size: 1.5rem;
  z-index: 2;
  
}

.pesquisar{
  margin-left: 5%;
}


/*sumario*/
.content-sumarios{
width: 100%;
display: flex;

}
.sumario{
width: 90%;
display: flex;
align-items: center  ;
justify-content: right ;
}

.div_temperatura{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div_temperatura p{
  font-size: 1.2rem;
}

.blocos-grande{
width: 700px;
height: 70px;
/* background-color:  #f0f9ee; */
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
gap: 10px
 
}

.bloco-pequeno{
width: 180px;
height: 70px;
border-radius: 15px;
/* background-color:  #ce292a;; */
margin-left: 3%;
display: flex;
align-items: center;
justify-content: center;
color: black;
padding: 5px 10px;
flex-direction: column;
 box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.4); 
}

.blocos-grande p{
font-size: 1.2rem;
}

/*cards de temperatura*/
/* .container_2{
width: ;
height: auto;
} */



.content{
display: flex;
flex-direction: row;
margin-left: 3%;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card{
  width: 700px;
  height: 300px;
  background-color: #f0f9ee;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 5%;
  margin-bottom: 2.5%;
  border-radius: 30px;
  /* box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.card .cards_temperatura{
  width: 260px;
  max-width: 600px;
  height: 180px;
  /* background-color:  #950000; */
  border-radius: 30px;
  margin-top: 5%;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
}

h2{
  font-size: 1.4rem;
  margin-left: 7%; 
  align-items: center;
}

.hello{
  display: flex;
  flex-direction: column;
}

h5{
  display: flex;
  margin-left: 70%;
}

.grau{
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

button {
  padding: 1.3em 3em;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 8%;
  margin-left: 10%;
}

button:hover {
  background-color: #b12929;
  box-shadow: 0px 15px 20px rgba(174, 32, 27, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}
.div_sensor > .cards_temperatura{
  padding-top: 0.4%;
}
#div_sensor{
  display: flex;
  width: 70%;
}

.alerta-frio {
  background-color: #fffb81;
}

.perigo-frio {
  background-color: #ce292a;
}

.ideal {
  background-color: #7497b3;
}



::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px #f5ecec; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FF8888; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF8888; 
}