.sessao{
    display: flex;
    flex-direction: column;
}

.frase{
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;

    margin-left: 5%;    
    /* flex-direction:column-reverse; */

    /* margin-top: -40%; */
} 

.bloco{
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
}

.lotesT{
    display: flex;
    background:  #f5ecec ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    margin-top: 2%;
    height: 80px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;

}
.lotesA{
    display: flex;
    background:  #f5ecec ; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    margin-top: 2%;
    height: 80px;
    width: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin-right:7%;
}

.icon2{
    margin-right: -20%;
    margin-left: 10%;
    margin-top: 25%;
}


.icon3 {
    margin-right: -15%;
    margin-left: 5%;
    margin-top: 20%;
}

ion-icon {
    position: relative;
    font-size: 2rem;
    z-index: 2;
} 

.graficos{
    display: flex;
    justify-content: center; 
    margin: auto;
    margin-top: 5%; 
    margin-left: 8%;
    justify-content: space-between;
}

.chart{
    display: flex;
    position: relative;
    height: 40vh; 
    width: 40vw;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-left: 10px;
    /* background-color: #fff; */
    /* border:1px solid #888888;   */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-top: 10%; */
    /* margin-left: 30px; */
    
 }

 .chart2{
    display: flex;
    position: relative;
    height: 40vh; 
    width: 40vw;
    border-radius: 10px;
    justify-content: space-evenly;
    margin-left: 10px;
    /* background-color: #fff; */
    /* border:1px solid #888888;   */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-top: 10%; */
    /* margin-left: 30px; */
    
 }
