
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }


*{
    font-family: Arial, Helvetica, sans-serif;
}

.body_tudo{
    margin:0;
    padding: 0;
    background-color: #f5ecec;

}
 .container{
    display: flex;
    flex-direction: row;
} 

.navigation{
    position: relative;
    height: 700px;
    background: #FFCDCD ; 
    width: 70px;
    box-shadow: 10px 0 0   #f5ecec;
    border-left: 2px solid #FFCDCD;
    overflow-x: hidden;
    transition: 0.5s;
}
.navigation:hover{
    width: 200px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li a{
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}
 
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-break: 70px;

}

.navigation ul li a .icon ion-icon{
    position: relative;
    font-size: 1.5rem;
    z-index: 2;
    margin-top: 30%;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active{
    background: #f5ecec;
}  

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #FFCDCD;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #f5ecec
}

.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color:  #FFCDCD;
    border-radius: 50%;
    box-shadow: 15px -15px 0  #f5ecec;
}

/*imagem avatar*/
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 21%;
    width: 50%;
}