*{
    font-family: 'Mulish';
}

body{
    margin: 0;
    padding: 0;
}

/*Header*/
.header{
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #FFCDCD;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}

.container{
    display: flex;
    width: 90%;
    margin: auto;
}


.header .img_logo{
    width:  150px;
    margin-left: 34px;
}

.header .container{
    justify-content: space-between;
}

.titulo{
    color: #32b9cd;
    font-weight: 500;
}

.navbar{
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    position: absolute;
    height: 18px;
    right: 200px;
    top: 15px;

}

#login {
    position: absolute;
    width: 83px;
    height: 42px;
    top: calc(50% - 42px/2);
    background-color: #a70000;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.navbar a, .navbar li{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

/* footer */

.footer {
    width: 100%;
    height: 90px;
    background-color: #FFCDCD;
    color: #000;    
}

.footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Desktop */
.desktop{
    position: relative;
height: 3108px;
}

.desktop_light{
    display: flex;
    height: 672px;
    background: #F5ECEC;
}

.desktop h1{
    position: absolute;
    height: 112px;
    left: 165px;
    right: 830px;
    top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #373F41;
}

.desktop .text_iot{
    position: absolute;
    height: 110px;
    left: 165px;
    right: 830px;
    top: 321px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;   
}

.desktop .saiba_mais{
    position: absolute;
    left: 165px;
    top: 460px;
    font-size: 14px;    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3px;
    background-color: #a70000;
    width: 139px;
    height: 48px;
    color: #FFFFFF;
}

.desktop .img_top{
    position: absolute;
    left: 48.96%;
    right: 11.46%;
    top: 201px;
    border-radius: 1px;
}



.top_light .top{

    position: absolute;
    left: 48.85%;
    right: 11.46%;
    top: 189px;

}
.top_light .green{
/* green */


position: absolute;
left: 53%;
right: 90.87%;
top: 200px;



}
.top_light .yellow{
    /* yellow */


position: absolute;
left: 51.5%;
top: 200px;



}
.top_light .red{
    /* red */


position: absolute;
left: 50%;
right: 95.54%;
top: 200px;
}

.text_gama h1{
    display: flex;
    justify-content: center;
    right: 45px;
    top: 804px;
    
}

.container h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.1px;
    
    color: #373F41;

}

.container p {
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    
    text-align: center;
    letter-spacing: 0.1px;
    
    color: #373F41;
}

.icon_suporte h2{
    position: absolute;
    height: 24px;
    left: 201px;
    bottom: 2007px;
           
}

.icon_suporte p {
    position: absolute;
    height: 24px;
    left: 65px;
    bottom: 1958px;
        
}

.icon_suporte img{
    position: absolute;
    left: 236px;
    top: 1020px;

}

.icon_protecao{
    position: absolute;
    height: 24px;
    left: 507px;
    bottom: 2070px;
}

.icon_protecao img{
    position: relative;
    left: 150px;
}

.icon_universal{
    position: absolute;
    left: 914px;
    height: 24px;
    top: 1015px;
}

.icon_universal img{
    width: 31.95px;
    height: 31.95px;
    position: relative;
    left: 135px;
    
}

.icon_mic{
    position: absolute;
    left: 64px;
    bottom: 1719px;


}

.icon_mic img{
    position: absolute;
    width: 40px;
    height: 38.82px;
    left: 170px;
    top: -40px;
}

.icon_interacao{
    position: absolute;
    top: 1215px;
    left: 510px;
    width: 327px;
    height: 180px;
}

.icon_interacao img{
    position: relative;
    left: 140px;
    width: 65px;
    height: 55px;
}

.icon_backup{
    position: absolute;
    left: 713px;
    width: 326px;
    
}
