.form{
    background-color: #F5ECEC;
    padding: 10px;
    display: flex;
}

.formulario{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    height: 420px;
    margin: 30px;
    border: 2px solid gray;
    padding: 15px;
}

.formulario h3{
    font-size: 20px;
}

.form .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form h4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .campos{
    width: 85%;
    height: 35px;
    margin-top: 5%;
}

.form span{
    float: left;
    display: flex;
    font-size: 10px;
}

.form button{
    width: 120px;
    height: 45px;
    background-color: #A70000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 8%;
    font-size: 16px;
    
}

.form input{
    border: none;
    border-bottom: solid #F5ECEC ;
}

.form button{
    cursor: pointer;
}